<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(pageTitle='Buy')}"></head>
<body>
    <nav th:replace="~{layout :: navbar}"></nav>
    <header>
        <div th:if="${error}" class="alert alert-danger mb-0 text-center" role="alert" th:text="${error}"></div>
    </header>
    <main class="container py-5 text-center">
        <form th:action="@{/buy}" method='post'>
            <div class='mb-3'>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
            </div>
            <div class='mb-3'>
                <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="1">
            </div>
            <button class='btn btn-primary' type='submit'>Buy</button>
        </form>
    </main>
    <footer th:replace="~{layout :: footer}"></footer>
</body>
</html>